<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <title>Home Page</title>

</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="/">Music Festivals</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
            aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/" class="btn btn-info btn-md">
                    <span class="fa fa-home"></span> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/EventsMap">Events Map</a>
            </li>
            <% if (login) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/MyEvents">My Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MyStories">My Stories</a>
                </li>
            <% } %>
        </ul>

        <ul class="nav navbar-nav ml-auto">

            <% if (login) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout"><span class="fa fa-user"></span> Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register"><span class="fa fa-pencil"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login"><span class="fa fa-user"></span> Login</a>
                </li>
            <% } %>

        </ul>
    </div>
</nav>

<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">
                    <i class="fas fa-edit"></i> Edit Story
                </h1>
                <% include ./partials/messages %>
                <form action="/MyStories/editStory" method="POST">
                    <div class="form-group">
                        <label for="eventName">Event name</label>
                        <input type="text" class="form-control" name="eventName" id="eventName" required=""
                               value="<%= stories.eventname %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="eventName">Story name</label>
                        <input type="text" class="form-control" name="storyName" id="storyName"
                               value="<%= stories.storyname %>" required="">
                    </div>
                    <div class="form-group">

                        <label for="uname1">Add Images</label>
                        <div class="input-group" id="pictureInput">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Browse photo(s)  <input type="file" name="myFiles" multiple>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Select images to remove</label>
                        <div class="row">
                            <% if(stories.img != null) { stories.img.forEach(function(img) { %>
                                <div class="col">
                                    <label class="image-checkbox" title="England">
                                        <img src="/index/images/<%= img %>"
                                             class="thumbnail">
                                        <input type="checkbox" name="deleteImages" value="<%= img %>"/>
                                    </label>
                                </div>
                            <% }); } %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="storyDescription">Story Description</label>
                        <textarea class="form-control" name="storyDescription" id="storyDescription"
                                  rows="3"><%= stories.description %></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" type="button" onclick="getLocation()">Click to update
                            location data
                        </button>
                        <p style="text-align: center" id="message"></p>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="hidden" class="form-control" name="storyUsername" id="storyUsername"
                                   value="<%= username %>">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="hidden" class="form-control" name="storyFirstname" id="storyFirstname"
                                   value="<%= firstname %>">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="hidden" class="form-control" name="storySurname" id="storySurname"
                                   value="<%= surname %>">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="hidden" class="form-control" name="storyLatitude" id="storyLatitude"
                                   value="<%= stories.latitude %>">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="hidden" class="form-control" name="storyLongitude" id="storyLongitude"
                                   value="<%= stories.longitude %>">
                        </div>
                        <div class="form-group col-md-1">
                            <input type="hidden" class="form-control" name="storyID" id="storyID"
                                   value="<%= storyID %>">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Edit Story
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var longitude = document.getElementById("storyLatitude");
    var latitude = document.getElementById("storyLongitude");
    var x = document.getElementById("message");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        latitude.value = position.coords.latitude;
        longitude.value = position.coords.longitude;
        x.innerHTML = "Location details have been updated"
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
<script src="/scripts/idb.js"></script>
<script src="/scripts/index.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        // init the state from the input
        $(".image-checkbox").each(function () {
            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                $(this).addClass('image-checkbox-checked');
            } else {
                $(this).removeClass('image-checkbox-checked');
            }
        });

        // sync the state to the input
        $(".image-checkbox").on("click", function (e) {
            if ($(this).hasClass('image-checkbox-checked')) {
                $(this).removeClass('image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().removeAttr("checked");
            } else {
                $(this).addClass('image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
            }

            e.preventDefault();
        });
    });
</script>

</body>
</html>